#pragma code_page(65001)
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
// PNG
IDB_RESTARTPNG          PNG                     "assets\\restart.png"
IDB_SHUTDOWNPNG         PNG                     "assets\\shutdown.png"
IDB_CONFIGPNG           PNG                     "assets\\config.png"
IDB_LOCKPNG             PNG                     "assets\\lock.png"
IDB_SLEEPPNG            PNG                     "assets\\sleep.png"

/////////////////////////////////////////////////////////////////////////////
// Icon
IDI_MAINICON            ICON                    "icon.ico"

/////////////////////////////////////////////////////////////////////////////
// String Table
STRINGTABLE
BEGIN
    IDS_APP_TITLE           "windows-shutdown"
    IDC_WINDOWSSHUTDOWN     "WINDOWSSHUTDOWN"
END

